.invite-button {
  margin-top: 20px;
  text-align: center;
}

.invite-link-preview {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #E6E6C4;
  margin-bottom: 10px;
}