.league-image {
    background-size: cover;
    background-position: center;
    width: 60%;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-table {
    max-height: 300px;
    overflow-y: auto;
}

@media screen and (min-width: 1920px) {
    .league-image {
        height: auto;
        max-width: 20%;
    }
}

@media screen and (min-width: 767px) {
    .league-image {
        height: auto;
        max-width: 20%;
    }
}

@media screen and (max-width: 1660px) {
    .league-image {
        height: auto;
        max-width: 50%;
    }
}

.player-table table {
    width: 100%;
    table-layout: fixed;
}

.player-table th,
.player-table td {
    padding: 3px;
    text-align: left;
}

.position-column {
    width: 15%;
}

.name-column {
    width: 60%;
}

.coins-column {
    width: 25%;
}