.account {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 1%;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 0 10px;
    //align-items: center;

    &__plants {
       display: flex;
        //justify-content: center;
        align-items: center;
    }
}

.account > div {
    font-size: x-large;
}

.wallet {
    &__button {
        background-color: #000000;
    }

    &__button__img {
        fill: red;
    }

}
