.account {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 1%;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 0 10px;
    //align-items: center;

    &__plants {
       display: flex;
        align-items: center;
    }

    &__plants__img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}

.account > div {
    font-size: x-large;
}

.wallet {
    &__button {
        background-color: #000000;
    }

    &__button__img {
        fill: red;
    }

}

.spin-button {
    max-height: 40px;
    border: none;
    background: none;
    padding: 0;
}

.spin-button-img {
    height: 60px;
    width: 60px;
    animation: zoomInOut 3s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
