.action-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;;
}

.action-buttons button {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    outline: none;
    width: 100px;
}

.action-buttons button.active {
    border-color: red;
}

