.field-wrapper {
    display: flex;
    justify-content: center;
}

.game-field {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    border: 5px groove saddlebrown;
    max-width: calc(100vw - 10px);
    margin: 10px;
    background-repeat: no-repeat;
    backdrop-filter: brightness(80%);
}


.cell {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: relative;
    z-index: 1;
}

.empty-cell {
    width: 100%;
    height: 100px;
    cursor: pointer;
    background-image: url("public/assets/terrain.webp");
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the entire image fits within the element */
    position: relative; /* Add this line */
    z-index: 0; /* Add this line */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animation {
    animation: bounce 2s ease infinite;
}

.plant {
    background: inherit;
    height: 60px;
    width: 60px;
}
