.global-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background-image {
    background-image: url("../public/assets/background.jpg");
    background-size: cover;
    background-position: center;
}

.loading-cat {
    background-image: url("../public/assets/cat-loader.gif");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.auth-failed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
