.global-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background-image {
    background-image: url("../public/background.jpg");
    background-size: cover;
    background-position: center;
}
